@{
    Layout = null;
}
@using YiYun.Entity

@model List<ZDMX>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>账单明细</title>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <link href="~/Content/jqweui/weui.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/jqweui/jquery-weui.min.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="~/Scripts/jqweui/jquery-weui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/MyWechat.validate.js"></script>
    <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.js" type="text/javascript" charset="utf-8"></script>
    <!--引入微信的两个js-->
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <!--weui.min.js有版本之分，在低版本的js中有些功能不完善，在高版本会支持-->
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script src="~/Scripts/jqweui/jquery-weui.js"></script>
</head>
<body>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd" style="font-size:12px">账单明细</div>
    </div>
    <div id="btn">
        <input type="checkbox" style="font-size:12px" id="checkall" checked="checked" onclick="checkall(this)">全选
    </div>
    <div class="weui-row" style="font-size:12px">
        <div class="weui-col-5"></div>
        <div class="weui-col-20">计费周期</div>
        <div class="weui-col-25">计费类型</div>
        <div class="weui-col-20">数量</div>
        <div class="weui-col-15">金额</div>
        <div class="weui-col-15">违约金</div>
    </div>
    <ul>
        @foreach (var i in Model)
        {
            <li>

                @if (i.IsMustPay == "Y")
                {
                    <div class="weui-row" style="font-size:12px">
                        <div class="weui-col-5">
                            <input type="checkbox" class="SoID" checked="checked" onclick="sumjs()" disabled="disabled" value="@i.SoID">
                        </div>
                        <div class="weui-col-20" style="color:red">@i.YearMonth</div>
                        <div class="weui-col-25">@i.SFProjectName</div>
                        <div class="weui-col-20">@i.Qty</div>
                        <div class="weui-col-15">@i.Amount</div>
                        <div class="weui-col-15">@i.WYJ</div>
                    </div>
                }
                else
                {
                    <div class="weui-row" style="font-size:12px">
                        <div class="weui-col-5">
                            <input type="checkbox" checked="checked" class="SoID" onclick="sumjs()" value="@i.SoID">
                        </div>
                        <div class="weui-col-20">@i.YearMonth</div>
                        <div class="weui-col-25">@i.SFProjectName</div>
                        <div class="weui-col-20">@i.Qty</div>
                        <div class="weui-col-15">@i.Amount</div>
                        <div class="weui-col-15">@i.WYJ</div>
                    </div>
                }


            </li>
        }
    </ul>
    <div class="weui-row" style="font-size:12px">
        <div class="weui-col-5"></div>
        <div class="weui-col-20">合计</div>
        <div class="weui-col-25"></div>
        <div class="weui-col-20"></div>
        <div class="weui-col-15">
            <label id="SFJE"></label>
        </div>
        <div class="weui-col-15">
            <label id="WYJ"></label>
        </div>
    </div>
    @if (ViewBag.PayFlag == "1")
    {
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:fun_register.onSubmit()">立即付款</a>
        </div>
    }
    <script>
        function checkall(checkbox) {

            if (checkbox.checked == true) {

                var CheckBox = $(".SoID");
                for (var i = 0; i < CheckBox.length; i++) {
                    if (CheckBox[i].disabled == false) {
                        CheckBox[i].checked = true
                    }
                }
                sumjs();
            } else {

                var CheckBox = $(".SoID");
                for (var i = 0; i < CheckBox.length; i++) {
                    if (CheckBox[i].disabled == false) {
                        CheckBox[i].checked = false
                    }
                }
                sumjs();
            }

        }

        function sumjs() {
            var CheckBox = $(".SoID:checked");
            var SoID = [];
            for (var i = 0; i < CheckBox.length; i++) {
                SoID.push(CheckBox[i].value);
            }
            $.ajax({
                url: "@Url.Action("ZDJS", "Bill")",
                type: 'post',
                dataType: "json",
                data: { HouseID: @ViewBag.HouseID, SoID: SoID.toString() },
                success: function (result) {
                    if (result.statusCode == "200") {
                        $('#SFJE').text(result.sfje);
                        $('#WYJ').text(result.wyj);
                    }
                    if (result.statusCode == "300") {
                        $('#SFJE').text('');
                        $('#WYJ').text('');
                    }
                }
            });
        }

        $(window).load(function () {
            sumjs();
        });

        var fun_register = {
        onSubmit: function () {
                var CheckBox = $(".SoID:checked");
                var SoID = [];
                for (var i = 0; i < CheckBox.length; i++) {
                    SoID.push(CheckBox[i].value);
                }
            $.confirm({
                title: '确认结算？',
                text: '您确定要付款吗？',
                onOK: function () {
                    $.showLoading("请稍后");
                    $.ajax({
                            url: "@Url.Action("WYPay", "Pay")",
                            type: 'post',
                        dataType: "json",
                        data: { HouseID: @ViewBag.HouseID, SoID: SoID.toString() },
                            success: function (result) {
                            $.hideLoading();
                                if (result.statusCode == "200") {

                                    var request = JSON.parse(result.Request);
                                    appid = request.appId;
                                    nonceStr = request.nonceStr;
                                    package = request.package_str;
                                    paySign = request.paySign;
                                    timeStamp = request.timeStamp;
                                    callpay()
                                }
                    if (result.statusCode == "300") {
                        $.toast(result.message, "forbidden");
                    }
                }
            });
                },
                onCancel: function () {
                }
            });
        }
        }

        function onBridgeReady() {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            {
                "appId": appid,
                "nonceStr": nonceStr,
                "package": package,
                "paySign": paySign,
                "signType": "RSA",
                "timeStamp": timeStamp
            },
            function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    $.toast("支付成功!请稍候", function () {
                        window.location.href = "/Owner";
                    },3000);
                    // 使用以上方式判断前端返回,微信团队郑重提示：
                    //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                }
            });
            }
            function back() {
                //window.location.href = "/Orderfood/Index";
                window.history.go(-1);
            }
    function callpay() {
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);

            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
        }
    </script>
</body>
</html>